
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #823750;
    color: white;
    padding: 10px;
}

.carousel-inner img{
    width: 100%; /* Set width to 100% */

}
{
    width: 100%; /* Set width to 100% */
    background-color: red;

}

/* Hide the carousel text when the screen is less than 600 pixels wide */
/*@media (max-width: 600px) {
.carousel-caption {
display: none;
}
}*/

.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
    color: ;
}

.dropdown:hover .dropbtn {
    color: #823750;
    background-color: #fff;
}
.btn ,.btn-default{
    margin: 10px;
}

#alinharButton{

    margin:auto;
    width:100%;
}
label{
    margin-top: 5px;

}

#login1{
    background: white/;
    color: black;
    font-size: 11pt;
}
/*#negrito {
  color: #9a1ce8;
font-weight: bold;
}*/
.view .estilo_imagem:hover{
    background: rgba(130, 55, 80, 0.68);
    opacity: 0;
    transition: all 0.5s;
}
#estilo_fonte{
    font-size:15px;
    color:#823750;
    font-weight: bold;
}
#estilo_fonte2{
    font-size:15px;
    color:#823750;
    font-weight: bold;
}
#estilo_fonte3{
    font-size:13px;
    color:#823750;
    font-weight: bold;
}
