*{
    font-family: "Droid Sans", "Myriad Pro", "Avenir LT Std", "Trebuchet MS", Tahoma !important;
}

html{
    font-family: "Droid Sans", "Myriad Pro", "Avenir LT Std", "Trebuchet MS", Tahoma !important;
}

#firstrow {
    border-left-color: #666666;
    border-right-color: #666666;
    background-color: #e8e7e7;
}
#firstrow td {
    border-right: 1px dotted silver;
}
.tablerow hover {
    background-color: #9999ff;
}
.name_row{
    border-style: hidden;
}
.perms_row{
    border-style: hidden;
}
.owner_row{
    border-style: hidden;
}
.group_row{
    border-style: hidden;
}
img {
    border-style: none;
}